# .github/workflows/env.yml

#######################################################
# Setup Environment
#
# This workflow exports the provided environment variables to the GitHub Actions environment.
# It adds the env variables to the local environment for use in subsequent steps.
#######################################################

name: 'Setup Environment'

on:
    workflow_dispatch:
        inputs:
            env_file:
                description: 'The location of the env file to load (default: .env)'
                required: true
                type: string
                default: '.env'

    workflow_call:
        inputs:
            env_file:
                description: 'The location of the env file to load (default: .env)'
                required: true
                type: string
                default: '.env'
        outputs:
            env:
                description: "The loaded environment variables"
                value: ${{ jobs.setup_env.outputs.env }}
                
jobs:
    setup_env:
        name: 'Setup Environment'
        runs-on: ubuntu-latest
        outputs:
            env: ${{ steps.set-env.outputs.env }}
        steps:

            -   name: 'Checkout'
                uses: actions/checkout@v4

            -   name: 'Read env file'
                id: set-env
                run: |
                    if [ -f "${{ inputs.env_file }}" ]; then
                      ENV_CONTENT=$(cat "${{ inputs.env_file }}" | sed '/^\s*#/d' | xargs)
                      echo "env=$ENV_CONTENT" >> $GITHUB_OUTPUT
                    else
                      echo "env=" >> $GITHUB_OUTPUT
                    fi

            -   name: 'Apply environment variables'
                env:
                    DYNAMIC_ENV: ${{ steps.set-env.outputs.env }}
                run: |
                    cat <<'EOF' >> "$GITHUB_ENV"
                    $DYNAMIC_ENV
                    EOF