#
# GitHub Actions workflow.
#
# Perfoms the following actions on a pull request:
# * Lint the code
# * Run the tests
# * Confirm the build runs
#

name: PR Checks

on:
    pull_request:
    workflow_dispatch:
        inputs:
            env:
                description: 'Environment variables to export (KEY=VALUE per line)'
                required: false
                type: string
                default: ''
    workflow_call:
        inputs:
            env:
                description: 'Environment variables to export (KEY=VALUE per line)'
                required: false
                type: string
                default: ''

jobs:
    pr_checks:
        name: 'Pull Request Package'
        if: ${{ !contains(github.event.head_commit.message, '#skip-pr') }}
        runs-on: ubuntu-latest

        steps:

            -   name: 'Checkout'
                uses: actions/checkout@v4
                with:
                    token: ${{ secrets.GH_PAT_TOKEN }}

            -   name: 'Load env from input'
                if: ${{ inputs.env != '' }}
                env:
                    INPUT_ENV: ${{ inputs.env }}
                run: |
                    echo "$INPUT_ENV" | sed '/^[[:space:]]*#/d;/^[[:space:]]*$/d' >> "$GITHUB_ENV"

            -   name: Install Node.js
                uses: actions/setup-node@v3
                with:
                    node-version: 24

            -   name: Install dependencies
                run: npm install

            -   name: Lint
                run: npm run lint

            -   name: Test
                run: npm run test

            -   name: Build
                run: npm run build
